        .post {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 20px;
        }
        .post-title {
            font-size: 44px;
            font-weight: bold;
        }
        .post-content {
            font-size: 28px;
        }
        .post-meta {
            font-size: 12px;
            color: #666;
        }
        .comment-form {
            margin-top: 8px;
        }
        a{
        	text-decoration: none;
        	color: black;
        }
        